<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <>404 Not Found - Disease Detector/title>
    <style>
      .btn{
    text-align: center;
    color: black;
    border: 2px solid #008CBA;
    padding: 14px 30px;
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
      }
     body{
       background-color: #FAF9F6;
     }
    </style>
  </head>
  <body>
    <div >
      <form action="">
        <input class="btn" type="Submit" name="Home">
      </form>

    </div>
  </body>
